@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    font-family: 'Righteous', sans-serif;
    margin: 0;
    padding: 0;
}

.background{
    background-image: url('./assets/First_page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 130vh;
    padding: 0;
}

header{
    text-align: center;
}

header h1{
    font-size: 150px;
    -webkit-text-stroke: 0.3px #09a52b;;
    background: linear-gradient(to bottom,rgb(0, 249, 54), rgb(29, 251, 77),rgb(12, 219, 26), #000000);
    stroke: green;
    -webkit-background-clip: text;
    color: transparent; 
    margin-top: 0px;

}

input{
    background-color: #d9d9d9;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.5);
    
}
::placeholder {
    color: rgb(153, 150, 74);
    font-size: 18px;
}

.input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nickname{
    margin-top: 50px;
}

#name{
    height: 5.4em;
    width: 30em;
    border-radius: 30px;
    margin-top: 40px;
    border: none;
    padding-left: 20px;
}

.play{
    text-align: center;
     line-height: 10px;   
}


.play-button img{
    height: 100px;
    margin-top: 10%;
    margin-bottom: 30px;
    


    
}

.play h2{
    color: white;
    font-size: 2em;
    letter-spacing: 8px;
    background-color: #09a52b;
    display: inline;
    border-radius: 10px;
    padding: 5px;
    box-shadow: #000000 -6px 6px 10px ;
}

.box{
    background-color: rgb(37, 192, 179);
    display: inline-block;
    padding: 0 10px;
    border-radius: 40px;
    margin: 20px 50px;
}

.last{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #000000;
}

@media only screen and (max-width: 1000px) {
    body{
        overflow: hidden;
    }

    header h1{
        padding-top: 10%;
    }
    
    .background{
        height: 100vh;
    }
    #name{
        width: 30vw;
        height: 8vh;
        border-radius: 70px;
        
    }

    .play-button img{
        height: 10%;
        margin-top: 20%; 
    }
    .play h2{
        color: white;
        font-size: 4em;
        letter-spacing: 8px;
    }

    .last{
        font-size: 25px;
    }
    .box{
        border-radius: 50px;
    }

    ::placeholder {
        font-size: 26px;
    }

}
